html {
    width: 800px;
    margin: 0px auto;
}

body {
    background-color: black;
    font-family: "Courier";
    text-align: center;
    color: green;
}

input {
    border: 3px solid green;
    background-color: black;
    color: green;
}

#matrix {
    display: block;
    margin: 0px auto;
}
