body {
	background-color: black;
}

div {
	margin-right: auto;
	margin-left: auto;
}
#password {
	border: 3px solid blue;
	border-radius: 5px;
	background-color: #aaaaee;
	width: 20%;
	height:10%;
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
	display: block;
}